<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include "load_bootstrap.html" %}
</head>
<body style="background-image: url(/static/img/4.jpg)">
<div style="text-align: center;margin-top: 150px">
    <h2 style="color: white;">后台管理</h2>
</div>
<form action="/bkmanage/login/" method="post" style="text-align: center;height: 200px;margin-top: 50px">
    {% csrf_token %}
    <div class="form-group" style="width: 500px;margin: auto" >
        <label for="Username" style="color: white;">Username</label>
        <input type="text" class="form-control" id="Username" placeholder="Username" name="username">
    </div>
    <div class="form-group" style="width: 500px;margin: auto">
        <label for="Password" style="color: white;">Password</label>
        <input type="password" class="form-control" id="Password" placeholder="Password" name="password">
    </div>
    <div style="height: 10px;width: 500px;margin: auto;margin-top: 20px">
        <button type="submit" class="btn btn-default">登陆</button>
    </div>
    <p style="color: red;margin-top: 50px">{{ error_msg }}</p>
</form>
</body>
</html>